---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Experiencia'>
	<h1>Experiencia</h1>
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis modi alias earum sunt dicta adipisci,
		inventore sed nesciunt possimus corrupti, quis est odio rerum consectetur itaque excepturi nostrum. Ut sint
		autem iste doloremque obcaecati voluptas sunt eveniet, unde nisi necessitatibus aliquam officiis eos soluta
		animi quibusdam ex nemo facilis odit?
	</p>
	<p>
		Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error, fugiat voluptate nam incidunt sint at
		doloremque ullam itaque repudiandae eos ab est corrupti fugit modi beatae velit iste quidem architecto nobis
		blanditiis enim. Nostrum explicabo veniam, at dolorem alias quo quisquam tempora officiis possimus voluptas esse
		repudiandae eaque nemo vero nam? In rerum eveniet provident, veritatis exercitationem fuga quasi beatae
		laboriosam voluptates fugit ab consequuntur tempore dignissimos sunt enim id. Doloribus aliquam, totam, aut
		aliquid assumenda nesciunt eaque at voluptatum neque dicta quo officia recusandae velit, consectetur eligendi
		unde minus adipisci! Vel ut nostrum quos, deleniti corrupti voluptatem! Commodi, eveniet!
	</p>
</Layout>
