---
---

<h1>👋 Hey, soy <span class="text-gradient">Mario Sales</span></h1>
<p class="instructions">
  <strong>Estudiante de informática y desarrollador web</strong> de Escuintla, Guatemala.
  Especializado en desarrollo de aplicaciones web innovadoras.
</p>

<style>
  	h1 {
		font-size: 2rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
    text-wrap: pretty;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
    width: 80%;
		/* border: 1px solid rgba(var(--accent-light), 25%); */
		/* background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%)); */
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions strong {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
</style>